.logout-button {
    background: none;
    border: none;
    padding: 0;

    color: #333;
    font-size: 17px;
    font-weight: 500;
    font-family: inherit;

    cursor: pointer;
}

.logout-button:hover {
    color: #009688;
    background-color: transparent;
}